body {
  background-color: #9f9f9f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;

  padding: 12px;
}

/* text */
.title {
  font-size: 120px;
  font-weight: bold;
  margin: 0;
}

.paragraph {
  color: #000;

  &.dark-mode {
    color: #eee;
  }
}

.text-size-small {
  font-size: 16px;
}
.text-size-medium {
  font-size: 24px;
}

.text-size-large {
  font-size: 36px;
}

/* layout */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  height: 300px;
  width: 100%;

  margin-bottom: 12px;
}

.box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  padding: 12px;

  background-color: #00ffbf;
}
.box h2 {
  margin: 0;
}

.bg-red {
  background-color: #ff0000;
}

#box-1 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  padding: 12px;

  color: #eee;
  background-color: #0d2927;
}

#box-2 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  padding: 12px;

  color: #eee;
  background-color: #515e78;
}

h2 {
  margin: 0;
  font-size: 32px;
}

/* transform */
.transform-width {
  min-width: 600px;
  transition: min-width 0.5s ease-in-out;
}
.transform-width:hover {
  cursor: pointer;
  min-width: 1200px;
}

/* animation */
.animate-text-color {
  color: #fff;
  animation: color 1s linear infinite;
}

@keyframes color {
  0% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}

.animate-rotate {
  animation: rotate 5s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: translateX(12px);
  }
  50% {
    transform: translateX(-12px);
  }
  100% {
    transform: translateX(12px);
  }
}

.animate-shake:hover {
  cursor: pointer;
  animation: shake 0.25s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translate(9px, 3px);
  }
  50% {
    transform: translate(-9px, -3px);
  }
  100% {
    transform: translate(9px, 3px);
  }
}

.animate-mix {
  transform-origin: center;
  animation: color 1s linear infinite, wiggle 3s linear infinite;
}
